.item-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 2rem;
    margin-top: 50px;
    animation: glow 5s infinite;
}

.item-info .list-group {
    box-shadow: -5px -5px 10px 4px rgba(30, 242, 241, 0.2), 5px 5px 10px 4px rgba(246, 5, 10, 0.2);
}

.item-info .character-info .list-group {
    transform: translateY(-10px) translateX(35px);
}

.item-info-photo {
    width: 220px;
    height: 220px;
    padding: 0;
    overflow: hidden;
    background: #202329!important;
    animation: morphing 15s infinite;
    transform: translateY(-10px) translateX(-80px);
}

.item-info-photo-wrapper {
    height: 0;
}


.item-info-photo img {
    max-width: 100%;
    box-shadow: 0 0 3px 3px rgba(53,201,221,0.1);
}

.choose-item {
    display: block;
    padding-top: 20px;
    color: #66d9ef;
    font-size: 80px;
    text-shadow: 3px 3px 0 #E89AC7;
}

.location-residents,
episode-characters {
    padding-top: 20px;
}

.location-residents ul,
.episode-characters ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
}

.location-residents ul li,
.episode-characters ul li {
    margin-bottom: 20px;
}

.location-residents ul li:not(:nth-of-type(5n)),
.episode-characters ul li:not(:nth-of-type(9n)) {
    margin-right: 20px;
}

.location-residents ul li,
.episode-characters ul li {
    list-style: none;
    overflow: hidden;
    padding: 0;
    border: 2px solid #333;
    border-radius: 255px 5px 225px 5px/25px 225px 25px 255px;
}

.location-residents ul li:hover,
.episode-characters ul li:hover {
    border-color: #ffffff;
}

.location-residents ul li {
    width: calc((100% - 80px)/ 5);
}

.episode-characters ul li {
    width: calc((100% - 160px)/ 9);
}

.location-residents ul li img,
.episode-characters ul li img {
    max-width: 100%;
}

.episode-title,
.location-title{
    margin: 30px 0;
}