body {
    background-color: #202329;
    padding-bottom: 40px;
    position: relative;
    margin: 0;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.jumbotron {
    background: #E89AC7;
    border: 5px solid rgb(76, 255, 143);
    border-radius: 100px 100px 0px 100px / 100px 100px 100px 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) inset, 0 0 20px 0 rgba(53, 201, 221, 1) !important;
}

.row {
    width: 100%;
}


.stars, .twinkling, .clouds {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.stars {
    z-index: 0;
    background: #000 url("/src/images/stars.png") repeat top center;
}

.twinkling {
    z-index: 1;
    background: transparent url("/src/images/twinkling.png") repeat top center;
    animation: move-twink-back 200s linear infinite;
}

.clouds {
    z-index: 2;
    background: transparent url("/src/images/clouds.png") repeat top center;
    animation: move-clouds-back 200s linear infinite;
}

#root {
    position: relative;
    z-index: 3;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}