body {
    background: #202329;
}
.app {
    max-width: 960px;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.jumbotron {
    background: #E89AC7;
    border: 5px solid rgb(76, 255, 143);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 0 0 20px 0px rgba(53,201,221,1);
}

