.login, .admin, .homepage {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.login-btn, .admin-btn {
    background: #66d9ef;
    margin-left: 40px;
}

.admin-btn {
    margin-bottom: 15px;
}

.homepage {
    margin-top: 20px;
}