.modal {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em 1em;
    z-index: 999999;
    box-sizing: border-box;
}

.modal.modal-fade {
    animation: fade-in 1s 1 linear;
    animation-fill-mode: forwards;
    opacity: 0;
}

.modal > .modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.modal > .modal-close {
    position: absolute;
    right: 50px;
    top: 50px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 999999;
}

.modal > .modal-close:hover svg {
    filter: brightness(0.8);
}

.modal > .modal-body {
    z-index: 2;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: morphing 40s infinite;
}


@keyframes fade-in {
    0% {
        animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}