.preloader {
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
}

.preloader:before {
    content: '';
    display: block;
    width: 105px;
    height: 105px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    box-shadow: 0 0 50px 20px rgba(53,201,221,1);
    animation: glow 3s infinite;
    z-index: 0;
}

.preloader img {
    position: relative;
    width: 120px;
    margin: 20px;
    z-index: 1;
}