.header {
    width: 100%;
    margin: 20px auto 40px;
}

.header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

.header ul li {
    list-style: none;
}

.header .menu-page + .menu-page {
    margin-left: 20px;
}

.header .menu-page a {
    font-size: 20px;
    border-color: #4cff8f;
    background: #4cff8f;
    color: #202329;
    transition: all .2s ease-out;
}

.header .menu-page a:hover {
    background: transparent;
    color: #4cff8f;
}

.header .menu-login {
    margin-left: auto;
}

.header .menu-login a,
.header .menu-admin a {
    border: 2px solid #66d9ef;
    color: #E89AC7;
    font-size: 16px;
    transition: all .2s ease-out;
    margin-right: 14px;
    padding: 8px;
}

.header .menu-login a:hover,
.header .menu-admin a:hover,
.header .menu-information a:hover {
    border-style: dotted;
}

.header .menu-information a {
    color: #E89AC7;
    text-decoration: none;
    font-size: 30px;
    border-radius: 50%;
    border: 2px solid #66d9ef;
    animation: morphing 20s infinite;
    display: inline-flex;
    padding: 4px 20px;
}

.header .menu-home a {
    font-size: 20px;
    color: #E89AC7;
    margin-right: 20px;
    border: 2px solid #66d9ef;
}

.header .menu-home a:hover {
    border-style: dotted;
}