.random-character {
    display: flex;
    flex-wrap: nowrap;
    padding: 2rem;
}

.random-character-photo {
    display: inline-flex;
    padding: 0;
    margin: 0 40px 0 0;
    overflow: hidden;
    background: #202329 !important;
    animation: morphing 20s infinite;
}

.random-character-avatar {
    width: 200px;
}

.random-character-info {
    flex-grow: 1;
}

.random-character-info .list-group {
    position: relative;
    overflow: initial;
    box-shadow: -5px -5px 10px 4px rgba(30, 242, 241, 0.2), 5px 5px 10px 4px rgba(246, 5, 10, 0.2);
    transform: translateX(15px);
}

.random-character-buttons button {
    background: #66d9ef;
}

.random-character-buttons button.disabled {
    background: gray;
    pointer-events: none;
}

.random-character-buttons button:first-of-type {
    position: relative;
    left: -10px;
}

.toggle-button {
    position: absolute;
    right: 0;
    top: -20px;
    z-index: 1;
    cursor: pointer;
}

.toggle-button:hover {
    filter: brightness(0.8);
}