.random-character {
    display: flex;
    flex-wrap: nowrap;
    padding: 2rem;
}

.random-character-photo {
    display: inline-block;
    padding: 0;
    margin: 0 40px 0 0;
    overflow: hidden;
    background: #000!important;
}

.random-character-photo img {
    width: 200px;
}

.random-character-info {
    flex-grow: 1;
}