.item-list {
    padding-right: 14px;
    background: transparent;
    border: none;
}

.item-list li {
    cursor: pointer;
}

.list-group-item.active {
    background-color: #66d9ef;
    border-color: #202329;
    color: #202329;
}